.container {
	height: 340px;
    width: 340px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    margin: auto;

    animation: spinner3 18s linear infinite;
    transform-origin: 180px 0 0;
    transform-style: preserve-3d;
}
.container:hover  {
    animation-play-state: paused;
}
.number {
	font-size: 10px;

	margin: 3px 0 0 3px;
}
.symbol, .name, .atom {
	 text-align: center;
}
.symbol {
	font-size: 17px;
}
.name {
	font-size: 8px;
}
.atom {
	font-size: 6px;

    margin-top: 2px;
}
.front, .left, .right, .back, .top, .bottom {
	height: 100%;
    width: 100%;

	position: absolute;
	  
    border: 2px solid #38ada2;
}
.front {
	background: rgba(25, 136, 125, 0.48);

	padding: 0 10px 0 50px;
	box-shadow: inset 0 0 20px rgba(0,0,0,0.2);

    transform: rotateY(0deg) translateX(270px);    
}
.top {
	background: rgba(25, 136, 125, 0.48);

    padding: 0 10px 0 50px;
    box-shadow: inset 0 0 20px rgba(0,0,0,0.2);

    transform: rotateY(60deg) translateX(270px);
}
.left {
	background: rgba(25, 136, 125, 0.48);

    padding: 0 10px 0 50px;
    box-shadow: inset 0 0 20px rgba(0,0,0,0.2);

    transform: rotateY(120deg) translateX(270px);
}
.bottom {
	background: rgba(25, 136, 125, 0.48);

    padding: 0 10px 0 50px;
    box-shadow: inset 0 0 20px rgba(0,0,0,0.2);

    transform: rotateY(180deg) translateX(270px);
}
.right {
	background: rgba(25, 136, 125, 0.48);

    padding: 0 10px 0 50px;
    box-shadow: inset 0 0 20px rgba(0,0,0,0.2);

    transform: rotateY(240deg) translateX(270px);
}
.back {
	background: rgba(25, 136, 125, 0.48);
	
    padding: 0 10px 0 50px;
    box-shadow: inset 0 0 20px rgba(0,0,0,0.2);

    transform: rotateY(300deg) translateX(270px);
}
