* {
	margin: 0;
	padding: 0;
}
body {
	background: #000;
}
main {
	position: relative;

    display: table;

    margin: auto;
}
.container {
	height: 340px;
    width: 340px;

    margin-top: 140px;

    animation: rotateBig 15s linear infinite;
    transform-style: preserve-3d;
    transform: rotateY(30deg) rotateX(5deg);

}
div {
	height: 66px;
    width: 66px;

    color: #34aba1;
    float: left;

    background: #000;
 	
 	border: 1px solid;
}
.number {
	font-size: 10px;

	margin: 3px 0 0 3px;
}
.symbol, .name, .atom {
	 text-align: center;
}
.symbol {
	font-size: 17px;
}
.name {
	font-size: 9px;
}
.atom {
	font-size: 6px;

    margin-top: 2px;
}
.front, .left, .right, .back, .top, .bottom {
	height: 100%;
    width: 100%;

	position: absolute;
	  
    border: 2px solid #38ada2;
}
.front {
    transform: translateZ(170px);
}
.top {
	transform: rotateY(90deg) translateZ(173px);
}
.left {
	transform: rotateY(90deg) rotateX(90deg) translateZ(173px);
}
.bottom {
	transform: rotateX(-90deg) translateZ(173px);
}
.right {
	transform: rotateY(180deg) rotateZ(90deg) translateZ(173px);
}
.back {
	transform: rotateY(-90deg) rotateZ(90deg) translateZ(173px);
}
@keyframes rotateBig {
	from,to{
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    15%{
        transform: rotateY(-90deg);
    }
    35%{
        transform: rotateY(-90deg) rotateZ(90deg);
    }
    50%{
        transform: rotateY(-180deg) rotateZ(90deg);
    }
    65%{
        transform: rotateY(-270deg) rotateX(90deg);
    }
    85%{
        transform: rotateX(90deg);
    }
}